# Supabase Configuration - Local (Docker)
SUPABASE_URL=http://localhost:8000
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV4YW1wbGUiLCJyb2xlIjoiYW5vbiIsImlhdCI6MTYxNTIwNjQwMCwiZXhwIjoyMzI1NDI2MDAwfQ.v8swpWWrapwHNoGVzyngI8Go3b1D86nSrKvrAKPO9BE

# Supabase Configuration - Produção (substituir pelos valores reais)
# SUPABASE_URL=https://seu-projeto.supabase.co
# SUPABASE_ANON_KEY=sua-chave-anonima-aqui

# Server
PORT=3000
NODE_ENV=development
